/* Variables */
:root {
    --light: rgb(244, 249, 241);
    --primary: rgb(186, 217, 162);
    /* --primary: #bad9a2; */
    --text-dark-highlight: rgb(67, 101, 41);
    --dark: rgb(46, 40, 42);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.jc-between {
    justify-content: space-between;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    margin-top: 2rem;
}
/* Spacing */
.m1 {
    margin: 1rem;
}

.m2 {
    margin: 2rem;
}

.m3 {
    margin: 3rem;
}

.m4 {
    margin: 4rem;
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

.p3 {
    padding: 3rem;
}

.p4 {
    padding: 4rem;
}

/* Typography */

.font-s {
    font-size: small;
}

.font-m {
    font-size: 1.2rem;
}

.font-l {
    font-size: large;
    font-size: 2rem;
}

.font-xl {
    font-size: x-large;
    font-size: 3rem;

}

.lightText {
    color: var(--light);
}

.darkText {
    color: var(--dark);
}

.accentText {
    color: var(--text-dark-highlight);
}

.primaryText {
    color: var(--primary);
}

.centerText {
    align-self: center;
}


.smallHeading {
    font-size: small;
    padding: 1rem 0;
}

.ta-c {
    text-align: center;
}

/* General */
.cardRow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem 1rem;
}

/* Borders */

.rb {
    border: 2px red solid;
}

.bb {
    border: 2px blue solid;
}

.gb {
    border: 2px green solid;
}

.ob {
    border: 2px orange solid;
}

/* Buttons */

.primaryBtn {
    background-color: var(--primary);
    border: 2px solid var(--light);
    padding: 0.4rem 1.2rem;
    border-radius: 10px;
    font-weight: 600;
    color: var(--light);
    font-size: larger;
}

.primaryBtn:hover {
    border: 2px solid var(--text-dark-highlight);
    color: var(--text-dark-highlight);
}

/* Backgrounds */
.bg-dark {
    background-color: var(--dark);
}

.bg-light {
    background-color: var(--light);
}

.bg-accent {
    background-color: var(--text-dark-highlight);
}

.bg-primary {
    background-color: var(--primary);
}

/* Cards */
.centeredCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Readex Pro, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: var(--light);
}

/* Nav bar */

nav {
    background-color: var(--light);
    /* height: 3rem; */
    align-content: center;
    padding: 0 10px;
}

nav > ul {
    visibility: hidden;
    display: flex;
    flex-direction: row;
}

nav > ul > li {
    color: black;
    margin: 2px 4px;
    list-style-type: none;
}

nav > ul > li:hover{
    text-decoration: underline;
    color: var(--text-dark-highlight);
}

#nav_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav_logo > img {
    width: 60px;
}

#nav_logo > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
}

/* Hero Section */

#hero {
    background-image: url('../images/pexels-cottonbro-5493781.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.heroText {
    padding: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.heroText > p {
    color: var(--light);
    visibility: hidden;
}

.heroText > h2 {
    color: var(--light);
    width: 60vw;
}

.heroBtn {
    margin: 1rem auto;
}

/* About Us */
.twoBlockContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}


.textSection {
    max-width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.textSection > p {
    padding: 1rem 0;
    
}

.textSection > h3 {
    font-size: 2rem!important;
}

.contentSection {
    height: 100%;
    max-width: 100%;
}

.imgBlock {
    /* background-color: #333; */
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.imgBlock > img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.topImg {
    z-index: 1;
    border: 8px solid var(--light);
    border-radius: 16px;
}

.bottomImg {
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    border: 8px solid var(--light);
    border-radius: 16px;
}

/* Services */

.servicesIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: .4rem 10px ;
}

.servicesIntro > h3 {
    margin-top: 0.4rem;

}

.largeHeading {
    font-size: large;
    text-align: center;
}

.servicesContainer {
    padding: 1rem;
}

.serviceContainer {
    /* min-width: 25rem;
    max-width: 30rem; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.serviceContainer > p {
    text-align: center;
}

.serviceContainer > h3 {
    text-align: center;
    text-transform: capitalize;
    margin: 1rem;
}

.serviceContainer > .icon {
    height: 6rem;
    width: auto;
}

/* Testimonials */

#testimonials > .cardRow {
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
    align-items: center;
}

.testimonyCard {
    font-style: italic;
    max-width: 20rem;
    min-width: 15rem;
    margin-bottom: 2rem;
    gap: 1rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.testimonyDetails {
    padding: 0.4rem;
    flex: 1;
}

.testimonyDetails > p {
    text-align: center;
}

.testimonyQuote {
    padding: 10px;
}

.reviewerImg {
    width: auto;
    margin-bottom: 1rem;
    display: none;
}

.reviewerImg > img {
    height: 144px;
    width: 144px;
    border-radius: 50%;
}
/* 
.carousal-container {
    overflow: hidden;
} */

.carousal-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    /* animation: 10s slide linear  infinite ; */
}

.carousal-item {
    flex-basis: 50%;
}

.contactDetail {
    text-decoration: underline;
    color: var(--primary);
    font-size: 1.2rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details > span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details > span > strong {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.contact-details > p {
    text-decoration: none;
}


@keyframes slide {
    to {
      transform: translateX(-100%);
    }
  }

/* .carousel-container {
    overflow: hidden;
}

.carousal {
    display: flex;
    align-items: center;
    left: -95%;
    list-style: none;
    gap: 4rem;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(100%);

    @media (min-width: 30em) {
        left: -33.33333%;
        transform: translateX(33.33333%);
    }

    @media (min-width: 40em) {
        left: -20%;
        transform: translateX(20%);
    }
} */

/* .carousel.is-set {
  transform: none;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-seat {
  flex: 1 0 100%;
  order: 2;
} */

/* Contact Details */
#contactUs {
    color: var(--light);
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--light);
    border-radius: 3px;
}


/* Reponsive Options */

@media screen and (min-width: 600px) {
    /* For Tablets */
        .container {
            width: 100;
        }
    }
    
    @media screen and (min-width: 768px) {
    /* For Laptops */

        nav {
            /* height: 4rem; */
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: fit-content;
            position: fixed;
            width: 100%;
            z-index: 1000;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        #nav_logo > p {
            font-size: 3rem;
        }

        #nav_logo > img {
            /* margin: 2rem; */
            height: 4rem;
            width: auto;
        }

        nav > ul {
            visibility: visible;
        }

        nav > ul > li {
            align-self: center;
            cursor: pointer;
            padding: 1rem;
        }

        nav > ul > li > a {
            text-decoration: none;
            color: var(--dark);
            font-size: 1.2rem;

        }

        nav > ul > li:hover {
            background-color: var(--primary);
            scale: 1.2;
            font-weight: 600;
            /* padding: 1rem; */
        }

        #hero {
            height: 80vh;
            background-position: bottom 60% center ;
            background-size: 100%;
            background-image: url('../images/logos/laptop_hero.jpg');
            display: flex;
            align-items: end;
            justify-content: start;
            padding: 2rem;
        }

        .heroText {
            background-color: rgba(46, 40, 42, 0.85);
            border-radius: 2rem;
            width: 35%;
            padding: 1rem;
            margin-left: 2rem;
        }

        .heroText > h2 {
            color: var(--light);
            width: 80%;
            margin-top: 2rem;
        }

        .heroText > p {
            visibility: visible;
            color: var(--light);
            margin: 1rem; 
            width: 30rem;
        }

        .heroBtn {
            margin-bottom: 1rem;
            font-size: 2rem;
            border: 0.4rem solid var(--light);
        }

        .heroBtn:hover{ 
            border: 0.4rem solid var(--text-dark-highlight);
            color: var(--text-dark-highlight);
            scale: 1.2
        }

        .aboutUsImg > img{
            height: 20rem;
            border-radius: 50%;
        }

        /* .aboutUsContainer {
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
        } */

        /* .aboutUsText {
            width: 100%;
            background-color: var(--light);
            padding: 1rem;
            border: 2px red solid;
        } */

        .servicesContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 0 3rem;
        }

        .serviceContainer {
            width: 40rem;
            margin-bottom: 2rem;
        }

        .servicesIntro > h3 {
            width: 50%;
        }

        .contactUsContainer {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-around;
            
        }

        .contactUsContainer > form {
            width: 30vw;
        }

        .contactUsContainer > form > div > button {
            width: 100%;
            border-radius: 0;
            padding: 0.6rem;
        }

        .contact-details {
            height: 100%;
            width: 30vw;
            display: flex;
            flex-direction: column;
        }

        .contact-details > span {
            display: flex;
            flex-direction: row;
            align-items: center;
            /* margin-bottom: 2rem; */
        }

        .contact-details > span > .fa-solid {
            height: rem;
            width: auto;
            justify-self: center;
            margin: 1rem;
        }

        .contactDetail {
            font-size: 1.6rem;
            text-decoration: underline;
            color: var(--primary);

        }
        
        .twoBlockContainer {
            display: flex;
            flex-direction: row;
            padding: 1rem;
            /* align-items: center; */
            justify-content: space-evenly;
            margin: 2rem;
        }

        .textSection {
            width: 35%;
            padding: 1rem;
            align-items: start;
        }

        .textSection > p {
            padding: 1rem 0;
        }

        .contentSection {
            height: 100%;
        }

        .imgBlock {
            /* background-color: #333; */
            width: 50%;
            min-width: 40rem;
            height: 45rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;

        }

        .imgBlock > img {
            height: 25rem;
            width: 25rem;
            object-fit: cover;
        }

        .topImg {
            z-index: 1;
            margin-bottom: -50px;
            border: 8px solid var(--light);
            border-radius: 16px;
        }

        .bottomImg {
            align-self: flex-end;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
            border: 8px solid var(--light);
            border-radius: 16px;
        }

        .carousal-row {
            flex-direction: row;
        }


    }
    
    @media screen and (min-width: 992px) {
    /* For Large Laptops */
        .container {
            width: 962px;
        }
    }