{% load static %}
<!-- 
<div id="aboutUs" class="bg-light">
    <div class="twoBlockContainer">
        <div class="contentSection">
            <div class="imgBlock">
                <img class="topImg" src="{% static 'home/images/north pier.jpeg'%}" alt="">
                <img class="bottomImg" src="{% static 'home/images/maureen.jpeg'%}" alt="">
            </div>
        </div>
        <div class="textSection">
            <h2 class="primaryText">ABOUT US</h2>
            <h3 class="font-xl">Our Commitment to Compassionate Care</h3>
            <p class="">
                At the heart of our caregiving services is Simmone Bouch, a dedicated and compassionate caregiver with over 10 years of experience supporting the elderly in Durban and KwaZulu-Natal. Simmone believes that every individual deserves to live with dignity, comfort, and joy.
                <br>
                <br>
                Together with her carefully selected team, Simmone provides personalized care that goes beyond the basics. From creating meal plans and managing medications to accompanying clients to social events and liaising with healthcare professionals, she ensures every need is met with warmth and empathy.
                <br>
                <br>
                We understand how important it is to find trustworthy care for your loved ones. That's why we take the stress out of sourcing quality care, giving families peace of mind. With Simmone and her team, you can rest assured that your loved one will receive the best possible care—delivered straight from the heart.
            </p>
        </div>
    </div>

</div> -->

<div class="introduction">
    <div id="aboutUs" class="bg-light">
        <div class="twoBlockContainer d-flex flex-column-reverse p-4">
            <div class="contentSection">
                <div class="imgBlock">
                    <img class="aboutUsImg topImg" src="{% static 'home/images/north pier.jpeg'%}" alt="">
                    <img class="aboutUsImg bottomImg" src="{% static 'home/images/maureen.jpeg'%}" alt="">
                </div>
            </div>
            <div class="text-center ">
                <h2 class="primaryText fs-3">ABOUT US</h2>
                <h3 class="fs-1">Our Commitment to Compassionate Care</h3>
                <p class="text-start">
                    At the heart of our caregiving services is Simmone Bouch, a dedicated and compassionate caregiver with over 10 years of experience supporting the elderly in Durban and KwaZulu-Natal. Simmone believes that every individual deserves to live with dignity, comfort, and joy.
                    <br>
                    <br>
                    Together with her carefully selected team, Simmone provides personalized care that goes beyond the basics. From creating meal plans and managing medications to accompanying clients to social events and liaising with healthcare professionals, she ensures every need is met with warmth and empathy.
                    <br>
                    <br>
                    We understand how important it is to find trustworthy care for your loved ones. That's why we take the stress out of sourcing quality care, giving families peace of mind. With Simmone and her team, you can rest assured that your loved one will receive the best possible care—delivered straight from the heart.
                </p>
            </div>
        </div>

    </div>
</div>