{% load static %}

<div class="introduction">
    <div id="aboutUs" class="bg-light">
        <div class="twoBlockContainer d-flex flex-column-reverse flex-lg-row p-4 justify-content-center">
            <div class="contentSection col-lg-6">
                <div class="imgBlock">
                    <img class="aboutUsImg topImg" src="{% static 'home/images/north pier.jpeg'%}" alt="">
                    <img class="aboutUsImg bottomImg" src="{% static 'home/images/maureen.jpeg'%}" alt="">
                </div>
            </div>
            <div class="text-center col-lg-6 align-self-strech justify-content-evenly">
                <h2 class="primaryText fs-3">ABOUT US</h2>
                <h3 class="fs-1">Our Commitment to Compassionate Care</h3>
                <p class="text-start mt-4 px-4">
                    At the heart of our caregiving services is Simmone Bouch, a dedicated and compassionate caregiver with over 10 years of experience supporting the elderly in Durban and KwaZulu-Natal. Simmone believes that every individual deserves to live with dignity, comfort, and joy.
                    <br>
                    <br>
                    Together with her carefully selected team, Simmone provides personalized care that goes beyond the basics. From creating meal plans and managing medications to accompanying clients to social events and liaising with healthcare professionals, she ensures every need is met with warmth and empathy.
                    <br>
                    <br>
                    We understand how important it is to find trustworthy care for your loved ones. That's why we take the stress out of sourcing quality care, giving families peace of mind. With Simmone and her team, you can rest assured that your loved one will receive the best possible care—delivered straight from the heart.
                </p>
                <a class="btn btn-brand m-4" href="{% url 'about_us' %}">Find out more</a>
            </div>
        </div>

    </div>
</div>