{% load static %}

<div id="contactUs" class="bg-dark">
    <h2 class="ta-c">Contact Us</h2>
    <p class="ta-c m1">Drop us a message or give us a call and we can see how we can get you the care you need.</p>
    <div class="contactUsContainer ">
        <form action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="4b2a361b-2e2a-45d1-ab17-37f768100db2">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="5" required></textarea>
            </div>
            <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
            <div class="form-group flex-center">
                <button class="primaryBtn" type="submit">Send Message</button>
            </div>
        </form>
        <div class="contact-details">
            <span class="m1"><i class="fa-solid fa-location-dot fa-3x"></i><p class="m1">Durban, Kwa-Zulu Natal  </p></span>
            <span class="m1"><i class="fa-solid fa-phone fa-3x "></i><p class="m1 "><strong>Phone: </strong><a href="tel:+27826816549" class="font-l contactDetail">082 681 6549</a></p></span>
            <span class="m1"><i class="fa-solid fa-envelope fa-3x "></i><p class="m1 "><strong>Email: </strong> <a href="mailto:simmone@simscare.co.za" class="contactDetail">simmone@simscare.co.za</a></p></span>
            <!-- <hr> -->
            <!-- <div class="pinContainer flex-row jc-between p2">
                <span><i class="fa-solid fa-location-dot fa-3x"></i></span>
                <span><i class="fa-solid fa-phone fa-3x"></i></span>
                <span><i class="fa-solid fa-envelope fa-3x"></i></span>
            </div> -->
        </div>
    </div>
</div>