{% load static %}

<div id="hero" class="hero col container-fluid">
    <div class="d-flex flex-column align-items-center justify-content-between h-100" >
        <div class="heroText card m-4 align-content-center">
            <div class="card-body text-light text-center">
                <h2 class="fs-1 ">Need a hand?</h2>
                <p class="mb-0">Let us know how we can help you and we can be over in a jiffy</p>
            </div>
        </div>
        <a href="#contactUs" type="button" class="btn btn-brand fs-4 mb-4">Contact Us</a>
    </div>
    </div>
</div>