{% load static %}

<div id="hero" class="hero col container-fluid">
    <div class="d-flex flex-column align-items-center justify-content-between justify-content-lg-end h-100" >
        <div class="heroText card m-4 align-content-center">
            <div class="card-body text-light text-center px-lg-4">
                <h2 class="fs-1 ">Need a hand?</h2>
                <p class="mb-0 fs-4">Reach out to us and ensure the best care for your loved ones. We're here to help.</p>
                <a href="#contactUs" type="button" id="HeroCardBtn" class="btn btn-brand fs-4 my-4">Contact Us</a>
            </div>
        </div>
        <a href="#contactUs" type="button" id="HeroBtn" class=" btn btn-brand fs-4 mb-4">Contact Us</a>
    </div>
    </div>
</div>