{% load static %}

<nav class="bg-light navbar navbar-expand-lg navbar-light">
    <div class="container-fluid"> 
        <a class="navbar-brand" href="#"> 
            <div class="logo d-flex align-items-center">
                <img src="{% static 'home/images/logos/SimsCareLogo-transparentbg.png' %}" alt="Logo" class="logo-img me-2" style="height: 3rem;">
                <div class="logoText fs-4"> SimsCare
                </div>
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto text-center"> 
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
                </li>
                </ul>
        </div>
    </div>
</nav>