{% load static %}

<div class="servicesBrief py-4 bg-brand">
    <div id="services" class=" text-center">
        <div class="servicesIntro ta-c ">
            <h2 class="lightText fs-3">What we offer</h2>
            <h3 class="fs-1 centerText">Quality Senior Living, Every Step of the Way</h3>
        </div>

        <ul class="servicesContainer px-4">
            <li class="serviceContainer">
                <img class="icon" src="{% static 'home/icons/003-nursing-home-1.png' %}" alt="">
                <h3>At home care</h3>
                <p>Our dedicated caregivers are here not only to assist with daily tasks but to offer companionship and a reassuring presence.
                        Whether sharing a cup of tea or a heartfelt conversation, we make sure that every day feels safe and fulfilling for your loved ones.
                </p>
            </li>
            <li class="serviceContainer">
                <img class="icon" src="{% static 'home/icons/008-elderly.png' %}" alt="">
                <h3>Medication Management and Health Monitoring</h3>
                <p>Ensuring medications are taken correctly and health needs are closely watched.</p>
            </li>
            <li class="serviceContainer">
                <img class="icon" src="{% static 'home/icons/005-geriatric.png' %}" alt="">
                <h3>Frail Care</h3>
                <p>Our frail care services focus on providing compassionate, dignified care for individuals who require more intensive support.
                     We ensure that everyday needs are met with patience and understanding, all within a safe and nurturing environment.</p>
            </li>
            <li class="serviceContainer">
                <img class="icon" src="{% static 'home/icons/010-old.png' %}" alt="">
                <h3>Personalised Care Solutions</h3>
                <p>Recognizing that every individual is unique, we offer personalized care solutions that cater to specific requirements.
                     Whether it’s a comprehensive care plan or occasional assistance, we are here to make life easier for both our clients and their families.                </p>
            </li>
        </ul>
    </div>
</div>