{% load static %}

<div class="testimonialsContainer bg-light py-3 mb-2">
    <h2 class="text-center mb-3">Testimonials</h2>
        <div id="testimonialCarousel " class="carousel-container">
            <div class="carousel-slides">
                <div class="slide">
                    <div class="testimonialCard card bg-brand" style="width: 18rem;">
                        <div class="card-body">
                            <blockquote class="testimonyQuote bg-light p-2">
                                Thank you that you were there with my mum. You have been a true blessing! We are going to miss knowing that she is there with you caring, and loving her.
                            </blockquote>
                            <h5 class="card-title text-center">Shirley Swart</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary reviewStart ta-c text-center">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="testimonialCard card bg-brand" style="width: 18rem;">
                        <div class="card-body">
                            <blockquote class="testimonyQuote bg-light p-2">
                                Simmone possesses a remarkable ability to create a warm and nurturing environment, ensuring my
       grandmother felt comfortable and valued at all times. Her patience and understanding were evident in
       the way she handled daily challenges, always with a positive attitude and a gentle demeanour.
                            </blockquote>
                            <h5 class="card-title text-center">Wesley Maritz</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary reviewStart ta-c text-center">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="testimonialCard card bg-brand" style="width: 18rem;">
                        <div class="card-body">
                            <blockquote class="testimonyQuote bg-light p-2">
                                Simmone took care of my grandfather and there's no one who he would've rather had by his side. 
                        The care and attention to detail was something you just don't get else  where. 
                        Simmone feels like she is has always been part of the family.
                            </blockquote>
                            <h5 class="card-title text-center">Natashia Richardson</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary reviewStart ta-c text-center">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>