{% extends 'home/base.html' %}
{% load static %}

{% block body %}

    <!-- Hero -->
    {% include 'includes/hero_section.html' %}

    <!-- About us Intro -->
    {% include 'includes/about_us_section.html' %}
    
    <!-- Our Offerings -->
    {% include 'includes/services_section.html' %}
    
    <!-- Testimonials -->
    {% include 'includes/testimonials_section.html' %}

    <!-- Contact Us -->
    {% include 'includes/contact_us_section.html' %}
    
    <!-- Footer -->
    {% include 'includes/footer.html' %}

{% endblock %}





    
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YQKTFGM377');
</script>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5GBLZ6V"
    height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
</noscript>
    <!-- End Google Tag Manager (noscript) -->